.WorkDetailPage-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.WorkDetailPage-background.hidden {
  z-index: -1;
}
.WorkDetailPage-background.visable {
  z-index: 1;
}
.WorkDetailPage {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 35vh;
  left: 0;
  bottom: 0;
  width: 96%;
  padding: 2%;
  box-shadow: 0px 15px 40px #888888;
  z-index: 2;
  background-color: #FFFFFF;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  transition: bottom 0.5s ease;
}
.WorkDetailPage.hidden {
  bottom: -100%;
}
.WorkDetailPage.visable {
  bottom: 0%;
}
.WorkDetailPage .title {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  line-height: 5vh;
  font-size: 20px;
  font-weight: 700;
  color: #202A4D;
}
.WorkDetailPage .title .button {
  display: flex;
  justify-content: space-between;
  width: 40% ;
  height: 5vh;
}
.WorkDetailPage .title .button .delete {
  height: 5vh;
  width: 45%;
  text-align: center;
  color: #7EA3DA;
  background-color: #E6F0FC;
  border-radius: 1em;
}
.WorkDetailPage .title .button .change {
  height: 5vh;
  width: 45%;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(to right, #2A21D2, #5C5DF6);
  border-radius: 1em;
}
.WorkDetailPage .place {
  height: 3vh;
  line-height: 3vh;
  color: #202A4D;
}
.WorkDetailPage .week,
.WorkDetailPage .time,
.WorkDetailPage .type {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  line-height: 9vh;
  color: #202A4D;
}
.WorkDetailPage .personal-content {
  display: flex;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
